body {
  background-image: url("forestL.jpg");
  background-color: rgb(178, 212, 215);
}
.container {
  padding: 50px 50px;
  width: 800px;
  height: 500px;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  background-color: rgb(219, 234, 239, 0.7);
  border-radius: 24px;
}
.input-city {
  display: block;
  margin: 0 auto;
  border-radius: 24px;
  width: 400px;
  border: none;
  padding: 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: none;
  padding: 10px;
}
.big-icon {
  font-size: xx-large;
  color: rgb(141, 201, 230);
}
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: none;
  padding: 20px;
}
.description {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(90, 90, 90);
  line-height: 16px;
  text-align: center;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.degree-number {
  font-size: 60px;
  position: relative;
  right: -60px;
  top: 20px;
}
.degree {
  position: relative;
  right: -25px;
  color: rgb(90, 90, 90);
  margin-left: 0;
  padding-top: 20px;
  text-decoration: none;
  font-size: 32px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.days {
  padding: 20px;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.days-emojis {
  width: 50px;
}
.daily-degrees {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  line-height: 16px;
}
.btn {
  padding: 15px 30px;
  background-color: rgb(144, 169, 177);
  color: white;
  border-radius: 24px;
  transition: all 150ms ease-in-out;
  position: relative;
  right: -80px;
}
.btn-current {
  padding: 15px 30px;
  background-color: rgb(101, 119, 125);
  color: white;
  border-radius: 24px;
  border: none;
  transition: all 150ms ease-in-out;
  position: relative;
  right: -40px;
  bottom: -2px;
}
.btn:hover {
  background-color: rgb(229, 245, 250);
  color: rgb(101, 119, 125);
}
.btn-current:hover {
  background-color: rgb(229, 245, 250);
  color: rgb(101, 119, 125);
}
.small {
  position: relative;
  bottom: -650px;
  right: -600px;
}
